[submodule "libs/luajit"]
	path = libs/luajit
	url = https://luajit.org/git/luajit.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "rlImGui"]
	path = rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "libs/tgui"]
	path = libs/tgui
	url = https://github.com/texus/TGUI.git
